@import "tailwindcss";

@theme {
  --color-bgcolor: var(--bg-color);
  --color-textcolor: var(--text-color);
  --color-highlightcolor: var(--highlight);
}

:root {
  --bg-color: #1C1C2A;
  --text-color: #FFFFFF;
  --highlight: #C4AAF1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ================= BACKGROUND ANIMATION ================= */

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-40px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.bg-blob {
  position: absolute;
  border-radius: 9999px;
  filter: blur(120px);
  opacity: 0.25;
  z-index: 0;
}